<h1>Admin#pending_user</h1>
<div class="">
  <h2>Pending Traders</h2>
  <% if @users.empty? %>
    <h2> No Pending </h2>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Username</th>
          <th>Admin Status</th>
          <th>Approve User</th>
          <th>View Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% @users.each do |user| %>
              <%= user.id %><hr>
            <% end %>
          </td>
          <td>
            <% @users.each do |user| %>
              <%= user.email %><hr>
            <% end %>
          </td>
          <td>
            <% @users.each do |user| %>
              <%= user.username %><hr>
            <% end %>
          </td>
          <td>
            <% @users.each do |user| %>
              <%= user.admin %><hr>
            <% end %>
          </td>
          <td>
            <% @users.each do |user| %>
              <%= link_to 'Approve', admin_pending_user_path(id: user.id, approved: true), method: :put %>
            <% end %>
          </td>
          <td>
            <% @users.each do |user| %>
              <p>Link here for each view</p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
